.rating {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right:10%;

    .star--active,
    .star--inactive {
        font-size: 24px;
        margin-left: 5px;
    }
    
    .star--active {
        color: #FF6060;
    }

    .star--inactive {
        color: #E3E3E3;
    }
}

@media screen and (max-width: 480px) {
    .rating {
        margin-right: 0;
        
        .star--active,
        .star--inactive {
            font-size: 15px;
            margin-left: 2px;
        }
    }
}