.banner-container{
    display: flex;
    width: 70%;
    height: 223px;
    background: url(../../assets/images/IMG.png);
    background-position: 50% 35%;;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 200px;
    top: 171px;
}

.banner-text{
    display: flex;
    font-size: 48px;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFFFFF;

    &-container{
    display: flex;
    width: auto;
    height: 68px;
}
}

